@if (PathFolder != null && PathFolder.Length > 0)
{
    <div class="row">
        @if (filesList != null && filesList.Count > 0)
        {
            @foreach (string file in filesList)
            {
                var imagePath = rootFolder + PathFolder + "/" + file;

                <div class="@colSize mt-2" style="@colWidth">
                    <div class="text-center divImage">
                        <img src="@imagePath" asp-append-version="true" class="img-fluid" />
                    </div>
                    @if (ShowFilename)
                    {
                    <div class="text-center divFilename">
                        <span>@file</span>
                    </div>
                    }
                </div>
            }
        }
    </div>
}

@code {
    [Parameter] public string PathFolder { get; set; }
    [Parameter] public string PhotoSize { get; set; }
    [Parameter] public bool ShowFilename { get; set; } = true;
    string img = "";
    string imgName = "N/A";
    string colSize = "";
    string colWidth = "";
    List<string> filesList = new List<string>();
    string rootPath = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\photoDirs\"}";
    string rootFolder = "/photoDirs/";

    protected override void OnParametersSet()
    {
        if (PhotoSize == "thumbnail")
        {
            colWidth = "width: 200px;";
            colSize = "";
            ShowFilename = false;
        }
        else if (PhotoSize == "small")
        {
            colWidth = "";
            colSize = "col-3";
        }
        else if (PhotoSize == "medium")
        {
            colWidth = "";
            colSize = "col-6";
        }
        else if (PhotoSize == "large")
        {
            colWidth = "";
            colSize = "col-12";
        }
        LoadImages();
        StateHasChanged();
    }

    public void LoadImages()
    {
        var pathDir = PathFolder.Replace("/", "\\");
        var path = rootPath + pathDir;
        var files = Directory.GetFiles(path);
        foreach (var file in files)
        {
            filesList.Add(Path.GetFileName(file));
        }
    }
}
