

.browsePhoto {
    border: 2px solid red;
    border-radius: 10px;
}

.groupByRow {
    background-color: #D8F9DB;
}

.elementRow {
    background-color: #DCDCDC;
}

.header-style {
    font-weight: bold;
    font-size: large;
    color: #000000;
    background-color: #D2B48C;
    padding: 5px 10px;
}

.rowA {
    background-color: #FFFFF0;
}

.rowB {
    background-color: #E6E6FA;
}


.yearRow {
    background-color: #D8F9DB;
}