<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>

		<!-- 120 mb Files / in kilobyte (120*1024) -->
		<httpRuntime maxRequestLength="122880" requestLengthDiskThreshold="122880" />

	</system.web>

	<system.webServer>

		<security>
			<requestFiltering>

				<!-- 120 mb Files / in byte (120*1024*1024) -->
				<requestLimits maxAllowedContentLength="125829120" />

			</requestFiltering>
		</security>

	</system.webServer>

</configuration>