@page "/commentEdit/{element}/{id:int}"

@attribute [Authorize]

<h3>Comment Edit</h3>

@Element - @Id

@code {
    [Parameter] public string Element { get; set; }
    [Parameter] public int Id { get; set; }
}
