@page "/yearMon/edit/{element}/{id:int}"

@layout PostEditLayout

@inject IAddressRepository addressRepository
@inject IDocRepository docRepository
@inject IJobRepository jobRepository
@inject IPhotoAlbumRepository photoAlbumRepository
@inject IPhotoFolderRepository photoFolderRepository
@inject ISnippetRepository snippetRepository
@inject IStoryRepository storyRepository
@inject IStoryChapterRepository chapterRepository
@inject ITripRepository tripRepository
@inject IUnitRepository unitRepository
@inject IVideoRepository videoRepository
@inject NavigationManager navManager
@attribute [Authorize]

<div class="row">
    <HeadingC Text="@pageHeading" />
</div>
<div class="row mt-3">
    <div class="col"></div>
    <div class="col-10">
        <SubHeadingC Text="@elementTitle" />
    </div>
    <div class="col"></div>
</div>

<div class="row mt-2">
    <div class="col"></div>
    <div class="col-8">
        <EditForm Model="YearMon" OnValidSubmit="UpdateYearMon">
            <DataAnnotationsValidator />

            <div class="row mt-2">
                <div class="col">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="form-group">
                                <label>Year</label>
                                <InputNumber @bind-Value="YearMon.YearInt" class="form-control"></InputNumber>
                                <ValidationMessage For="() => YearMon.YearInt"></ValidationMessage>
                            </div>
                        </div>
                        <div class="col">
                            <SelectMonStrC vLabel="Month" @bind-VMonStr="@YearMon.MonStr" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="form-group text-center">
                        <button class="btnUpdate">Update</button>
                        <a href="@returnUrl" class="btnReturn ms-3">Return</a>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="col"></div>
</div>

@code {
    [Parameter] public string Element { get; set; }
    [Parameter] public int Id { get; set; }
    string pageHeading = "";
    string elementTitle = "";
    string returnUrl = "";
    private YearMonEditDTO YearMon { get; set; } = new YearMonEditDTO();

    private AddressDTO Address { get; set; } = new AddressDTO();
    private DocDTO Doc { get; set; } = new DocDTO();
    private JobDTO Job { get; set; } = new JobDTO();
    private PhotoAlbumDTO PhotoAlbum { get; set; } = new PhotoAlbumDTO();
    private PhotoFolderDTO PhotoFolder { get; set; } = new PhotoFolderDTO();
    private SnippetDTO Snippet { get; set; } = new SnippetDTO();
    private StoryDTO Story { get; set; } = new StoryDTO();
    private StoryChapterDTO Chapter { get; set; } = new StoryChapterDTO();
    private TripDTO Trip { get; set; } = new TripDTO();
    private UnitDTO Unit { get; set; } = new UnitDTO();
    private VideoDTO Video { get; set; } = new VideoDTO();

    protected override async Task OnParametersSetAsync()
    {
        if (Element == "address")
        {
            var address = await addressRepository.GetAddress(Id);
            Address = address;
            pageHeading = "Edit Address Year Month";
            elementTitle = Address.HomeAddress;
            YearMon.Id = Id;
            returnUrl = "address/edit/" + Id.ToString();

            YearMon.YearInt = Address.YearInt;
            YearMon.YearStr = Address.YearStr;
            YearMon.MonStr = Address.MonStr;
        }
        else if (Element == "doc")
        {
            var doc = await docRepository.GetDoc(Id);
            Doc = doc;
            pageHeading = "Edit Document Year Month";
            elementTitle = Doc.Title;
            YearMon.Id = Id;
            returnUrl = "doc/edit/" + Id.ToString();

            YearMon.YearInt = Doc.YearInt;
            YearMon.YearStr = Doc.YearStr;
            YearMon.MonStr = Doc.MonStr;
        }
        else if (Element == "job")
        {
            var job = await jobRepository.GetJob(Id);
            Job = job;
            pageHeading = "Edit Job Year Month";
            elementTitle = Job.Position;
            YearMon.Id = Id;
            returnUrl = "job/edit/" + Id.ToString();

            YearMon.YearInt = Job.YearInt;
            YearMon.YearStr = Job.YearStr;
            YearMon.MonStr = Job.MonStr;
        }
        else if (Element == "photoAlbum")
        {
            var photoAlbum = await photoAlbumRepository.GetPhotoAlbum(Id);
            PhotoAlbum = photoAlbum;
            pageHeading = "Edit Photo Album Year Month";
            elementTitle = PhotoAlbum.Title;
            YearMon.Id = Id;
            returnUrl = "photoAlbum/edit/" + Id.ToString();

            YearMon.YearInt = PhotoAlbum.YearInt;
            YearMon.YearStr = PhotoAlbum.YearStr;
            YearMon.MonStr = PhotoAlbum.MonStr;
        }
        else if (Element == "photoFolder")
        {
            var photoFolder = await photoFolderRepository.GetPhotoFolder(Id);
            PhotoFolder = photoFolder;
            pageHeading = "Edit Photo Folder Year Month";
            elementTitle = PhotoFolder.Title;
            YearMon.Id = Id;
            returnUrl = "photoFolder/edit/" + Id.ToString();

            YearMon.YearInt = PhotoFolder.YearInt;
            YearMon.YearStr = PhotoFolder.YearStr;
            YearMon.MonStr = PhotoFolder.MonStr;
        }
        else if (Element == "snippet")
        {
            var snippet = await snippetRepository.GetSnippet(Id);
            Snippet = snippet;
            pageHeading = "Edit Snippet Year Month";
            elementTitle = Snippet.Title;
            YearMon.Id = Id;
            returnUrl = "snippet/edit/" + Id.ToString();

            YearMon.YearInt = Snippet.YearInt;
            YearMon.YearStr = Snippet.YearStr;
            YearMon.MonStr = Snippet.MonStr;
        }
        else if (Element == "story")
        {
            var story = await storyRepository.GetStory(Id);
            Story = story;
            pageHeading = "Edit Story Year Month";
            elementTitle = Story.Title;
            YearMon.Id = Id;
            returnUrl = "story/edit/" + Id.ToString();

            YearMon.YearInt = Story.YearInt;
            YearMon.YearStr = Story.YearStr;
            YearMon.MonStr = Story.MonStr;
        }
        else if (Element == "storyChapter")
        {
            var chapter = await chapterRepository.GetChapter(Id);
            Chapter = chapter;
            pageHeading = "Edit Story Chapter Year Month";
            elementTitle = Chapter.Title;
            YearMon.Id = Id;
            returnUrl = "storyChapter/edit/" + Id.ToString();

            YearMon.YearInt = Chapter.YearInt;
            YearMon.YearStr = Chapter.YearStr;
            YearMon.MonStr = Chapter.MonStr;
        }
        else if (Element == "trip")
        {
            var trip = await tripRepository.GetTrip(Id);
            Trip = trip;
            pageHeading = "Edit Trip Year Month";
            elementTitle = Trip.Title;
            YearMon.Id = Id;
            returnUrl = "trip/edit/" + Id.ToString();

            YearMon.YearInt = Trip.YearInt;
            YearMon.YearStr = Trip.YearStr;
            YearMon.MonStr = Trip.MonStr;
        }
        else if (Element == "unit")
        {
            var unit = await unitRepository.GetUnit(Id);
            Unit = unit;
            pageHeading = "Edit Unit Year Month";
            elementTitle = Unit.MilitaryUnit;
            YearMon.Id = Id;
            returnUrl = "unit/edit/" + Id.ToString();

            YearMon.YearInt = Unit.YearInt;
            YearMon.YearStr = Unit.YearStr;
            YearMon.MonStr = Unit.MonStr;
        }
        else if (Element == "video")
        {
            var video = await videoRepository.GetVideo(Id);
            Video = video;
            pageHeading = "Edit Video Year Month";
            elementTitle = Video.Title;
            YearMon.Id = Id;
            returnUrl = "video/edit/" + Id.ToString();

            YearMon.YearInt = Video.YearInt;
            YearMon.YearStr = Video.YearStr;
            YearMon.MonStr = Video.MonStr;
        }
        StateHasChanged();
    }

    private async Task UpdateYearMon()
    {
        if (Element == "address")
        {
            await addressRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "doc")
        {
            await docRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "job")
        {
            await jobRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "photoAlbum")
        {
            await photoAlbumRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "photoFolder")
        {
            await photoFolderRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "snippet")
        {
            await snippetRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "story")
        {
            await storyRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "storyChapter")
        {
            await chapterRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "trip")
        {
            await tripRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "unit")
        {
            await unitRepository.UpdateYearMon(YearMon);
        }
        else if (Element == "video")
        {
            await videoRepository.UpdateYearMon(YearMon);
        }
        navManager.NavigateTo(returnUrl);
    }
}
