@page "/"
@page "/home"

@layout StartLayout

<PageTitle>Colby Family Memories</PageTitle>

<div class="row">
    <div class="col">
    </div>
    <div class="col-md-5 welcome text-center">
        <h3>Private website for the Colby Family Memories</h3>
    </div>
    <div class="col">
    </div>
</div>

<div class="row">
    <div class="col">
    </div>
    <div class="col-md-5 text-center mt-3">
        <a class="btnLogin" href="Account/Login">
            Log In
        </a>
    </div>
    <div class="col">
    </div>
</div>

@code {   
}

<style>
    .welcome {
        border: 2px solid blue;
        border-radius: 10px;
        padding: 10px 15px;
    }
</style>