@page "/browseUnits"
@rendermode InteractiveServer

@layout BrowseLayout

@inject IUnitRepository unitRepository

@inject NavigationManager navManager
@attribute [Authorize]

<div class="row ">
    <div class="col-8 mb-2 ">
        <HeadingC Text="Military Units" />
    </div>
    <div class="col mb-2 ">
        @if (who != null && who.Count > 0)
        {
            <select value="@selectedWho" class="form-select" @onchange="OnWhoChanged">
                <option value="">-- Select For Whom --</option>
                @foreach (var item in who)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
</div>

@if (units != null && units.Count > 0)
{
    <div class="row ">
        <div class="col mt-2">
            <RadzenDataGrid PageSize="15" AllowPaging="true" Data="@units" TItem="UnitDTO"
                            PagerHorizontalAlign="HorizontalAlign.Center">
                <Columns>
                    <RadzenDataGridColumn Property="YearMonth" Title="Year Month" Width="110px"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="MilitaryUnit" Title="Military Unit" HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="UnitLocation" Title="Unit Location" HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="WithRemarks" Title="With Remarks" Width="110px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="CommentCount" Title="Comment Count" Width="110px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter" />
                    <RadzenDataGridColumn Property="Id" Width="80px" TextAlign="TextAlign.Center"
                                          HeaderCssClass="rz-background-color-info-lighter">
                        <Template Context="data">
                            @{
                                var link = "unit/" + data.Id;
                            }
                            <RadzenLink Path=@link Text="View" Target="_unit" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
}


@code {
    private List<UnitDTO> units;
    private List<UnitDTO> allUnits;
    private List<string> who;
    string selectedWho = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadUnits();

        var tWho = allUnits.OrderBy(q => q.Who).Select(q => q.Who).ToList();
        who = tWho.AsQueryable().Distinct().ToList();
    }

    private async Task LoadUnits()
    {
        var tUnits = await unitRepository.GetBrowseUnits();
        allUnits = tUnits.ToList();
    }

    private void OnWhoChanged(ChangeEventArgs e)
    {
        selectedWho = e.Value.ToString();

        units = allUnits.Where(q => q.Who == selectedWho).ToList();
        StateHasChanged();
    }
}
