
@inherits LayoutComponentBase

<PageTitle>Memories</PageTitle>

<div class="page">
    <div class="sidebar">
        <PhoneMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
