
@inherits LayoutComponentBase

<PageTitle>Colby Family Memories</PageTitle>

<div class="page">
    <div class="sidebar">
        <StartMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

