@page "/phonePhotoAlbumComment/add/{PhotoAlbumId:int}"
@rendermode InteractiveServer

@layout ViewLayout

@inject IPhotoAlbumRepository photoAlbumRepository
@inject IPhotoAlbumCommentRepository photoAlbumCommentRepository
@inject NavigationManager navManager
@attribute [Authorize]

<div class="">
    <HeadingC Text="Add Photo Album Comment" />
</div>

<div class="mt-2">
    <label>Photo Album</label>
    <SubHeadingC Text="@PhotoAlbum.Title" />
</div>

<EditForm Model="Comment" OnValidSubmit="AddComment">
    <DataAnnotationsValidator />
    <div class="mt-2">
        <label>Your Comment</label>
        <RZHtmlEditorMinC @bind-HtmlValue="@Comment.Comments" Height="400px" />
        <ValidationMessage For="@(() => Comment.Comments)" />
    </div>

    <div class="form-group text-center mt-3">
        <button class="pBtnAdd">Add Comment</button>
        <a href="phonePhotoAlbum/@PhotoAlbum.Key" class="pBtnReturn ms-2">Return</a>
    </div>
</EditForm>

@code {
    [Parameter] public int PhotoAlbumId { get; set; }
    private PhotoAlbumDTO PhotoAlbum { get; set; } = new PhotoAlbumDTO();
    private PhotoAlbumCommentDTO Comment { get; set; } = new PhotoAlbumCommentDTO();

    protected override async Task OnParametersSetAsync()
    {
        var photoAlbum = await photoAlbumRepository.GetPhotoAlbum(PhotoAlbumId);
        PhotoAlbum = photoAlbum;
        Comment.PhotoAlbumId = PhotoAlbumId;
    }

    private async Task AddComment()
    {
        var newCommentResult = await photoAlbumCommentRepository.Create(Comment);
        navManager.NavigateTo($"phonePhotoAlbum/{@PhotoAlbum.Key}");
    }
}
