@page "/photoAlbumComment/add/{PhotoAlbumId:int}"
@rendermode InteractiveServer

@layout ViewLayout

@inject IPhotoAlbumRepository photoAlbumRepository
@inject IPhotoAlbumCommentRepository photoAlbumCommentRepository
@inject NavigationManager navManager
@attribute [Authorize]

<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <HeadingC Text="Add Photo Album Comment" />

        <div class="row mt-2">
            <div class="col-4 pt-2 text-center">
                Grouped By / Photo Album
            </div>
            <div class="col">
                <SubHeadingC Text="@photoAlbumStr" />
            </div>
        </div>

        <EditForm Model="Comment" OnValidSubmit="AddComment">
            <DataAnnotationsValidator />

            <div class="row mt-2">
                <div class="col">
                    <div class="form-group">
                        <label><b>Your Comment</b></label>
                        <RZHtmlEditorMinC @bind-HtmlValue="@Comment.Comments" Height="500px" />
                        <ValidationMessage For="@(() => Comment.Comments)" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group text-center mt-5">
                        <button class="btnAdd">Add Comment</button>
                        <br /><br />
                        <a href="photoAlbum/@PhotoAlbum.Key" class="btnReturn">Return</a>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="col"></div>
</div>
@code {
    [Parameter] public int PhotoAlbumId { get; set; }
    private PhotoAlbumDTO PhotoAlbum { get; set; } = new PhotoAlbumDTO();
    private PhotoAlbumCommentDTO Comment { get; set; } = new PhotoAlbumCommentDTO();
    string photoAlbumStr = "";

    protected override async Task OnParametersSetAsync()
    {
        var photoAlbum = await photoAlbumRepository.GetPhotoAlbum(PhotoAlbumId);
        PhotoAlbum = photoAlbum;
        photoAlbumStr = PhotoAlbum.GroupedBy + " / " + PhotoAlbum.Title;
        Comment.PhotoAlbumId = PhotoAlbumId;
    }

    private async Task AddComment()
    {
        var newCommentResult = await photoAlbumCommentRepository.Create(Comment);
        navManager.NavigateTo($"photoAlbum/{@PhotoAlbum.Key}");
    }
}
