@page "/Account/ForgotPasswordConfirmation"

@layout StartLayout

<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
