@page "/check-toggle"


<h3>Check Toggle</h3>

<ToggleDivC Title="Click to Toggle Content" DivContent="This is the content inside the toggle div." />
<ToggleDivC Title="Click to Toggle Content 2" DivContent="This is content 2 inside the toggle div." IsVisible="false" />
<ToggleDivC Title="Click to Toggle Content 3" DivContent="This is 3 content 3 inside the toggle div." IsVisible="false" />

@code {

}
