
<div class="form-group">
    <label>@FieldName</label>

    <div class="">
        <select value="@Value" class="form-select" @onchange="OnValueChanged">
            <option value="">-- Select Month --</option>
            <option value="">NA</option>
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
    </div>
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string FieldName { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    protected override void OnParametersSet()
    {
    }

    private Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        return ValueChanged.InvokeAsync(Value);
    }

}
