@page "/stylesColors"

@layout ViewLayout

@attribute [Authorize]

<div class="row ">
    <div class="col">
        <HeadingC Text="Styles & Colors In Use" />
    </div>
</div>

<div class="row ">
    <div class="col">
        <h3 class="text-center">on app.css</h3>

        <div class="scItem">
            <div class="mainPanel">
                .mainPanel 
            </div>
        </div>
        <div class="scItem">
            <div class="subPanel">
                .subPanel 
            </div>
        </div>
        <div class="scItem">
            <div class="subSubPanel">
                .subSubPanel 
            </div>
        </div>
        <div class="scItem">
            <div class="subSubSubPanel">
                .subSubSubPanel 
            </div>
        </div>
    </div>

    <div class="col">
        <h3 class="text-center">on browse.css</h3>

        <div class="scItem">
            <div class="browsePhoto">
                .browsePhoto 
            </div>
        </div>
        <div class="scItem">
            <div class="groupByRow">
                .groupByRow 
            </div>
        </div>
        <div class="scItem">
            <div class="elementRow">
                .elementRow 
            </div>
        </div>
        <div class="scItem">
            <div class="header-style">
                .header-style 
            </div>
        </div>
        <div class="scItem">
            <div class="rowA">
                .rowA 
            </div>
        </div>
        <div class="scItem">
            <div class="rowB">
                .rowB 
            </div>
        </div>
        <div class="scItem">
            <div class="yearRow">
                .yearRow 
            </div>
        </div>
    </div>

    <div class="col">
        <h3 class="text-center">on edit.css</h3>

        <div class="scItem">
            <div class="commentBody">
                .commentBody 
            </div>
        </div>
        <div class="scItem">
            <div class="commentCard">
                .commentCard 
            </div>
        </div>
        <div class="scItem">
            <div class="commentFooter">
                .commentFooter 
            </div>
        </div>
        <div class="scItem">
            <div class="divItem">
                .divItem 
            </div>
        </div>
        <div class="scItem">
            <div class="editCard">
                .editCard 
            </div>
        </div>
        <div class="scItem">
            <div class="editCardButtonRow">
                .editCardButtonRow 
            </div>
        </div>
        <div class="scItem">
            <div class="editCardButtons">
                .editCardButtons 
            </div>
        </div>
        <div class="scItem">
            <div class="editCardTitle">
                .editCardTitle 
            </div>
        </div>
        <div class="scItem">
            <div class="editCardRemarks">
                .editCardRemarks 
            </div>
        </div>
        <div class="scItem">
            <div class="listSpan">
                .listSpan 
            </div>
        </div>
        <div class="scItem">
            <div class="photoBody">
                .photoBody 
            </div>
        </div>
        <div class="scItem">
            <div class="photoBorder">
                .photoBorder 
            </div>
        </div>
        <div class="scItem">
            <div class="photoCaption">
                .photoCaption 
            </div>
        </div>
        <div class="scItem">
            <div class="photoCard">
                .photoCard 
            </div>
        </div>
        <div class="scItem">
            <div class="photoFooter">
                .photoFooter 
            </div>
        </div>
        <div class="scItem">
            <div class="photoOrderDate">
                .photoOrderDate 
            </div>
        </div>
        <div class="scItem">
            <div class="selectedWho">
                .selectedWho 
            </div>
        </div>
    </div>

    <div class="col">
        <h3 class="text-center">on style.css</h3>

        <div class="scItem">
            <div class="adminPanel">
                .adminPanel 
            </div>
        </div>
        <div class="scItem">
            <div class="alertInfo">
                .alertInfo 
            </div>
        </div>
        <div class="scItem">
            <div class="browsePanel">
                .browsePanel 
            </div>
        </div>
        <div class="scItem">
            <div class="custom-header-style">
                .custom-header-style 
            </div>
        </div>
        <div class="scItem">
            <div class="editorForm" style="color: white;">
                .editorForm 
            </div>
        </div>
        <div class="scItem">
            <div class="editPanel">
                .editPanel 
            </div>
        </div>
        <div class="scItem">
            <div class="listCard">
                .listCard 
            </div>
        </div>
        <div class="scItem">
            <div class="photo-edit">
                .photo-edit 
            </div>
        </div>
        <div class="scItem">
            <div class="photo-edit-title">
                .photo-edit-title 
            </div>
        </div>
        <div class="scItem">
            <div class="sectionHeader">
                .sectionHeader 
            </div>
        </div>
        <div class="scItem">
            <div class="viewCommentBody">
                .viewCommentBody 
            </div>
        </div>

    </div>

    <div class="col">
        <h3 class="text-center">on style.css</h3>

        <div class="scItem">
            <div class="viewCommentCard">
                .viewCommentCard 
            </div>
        </div>
        <div class="scItem">
            <div class="viewCommentsHeader">
                .viewCommentsHeader 
            </div>
        </div>
        <div class="scItem">
            <div class="viewDiv">
                .viewDiv 
            </div>
        </div>
        <div class="scItem">
            <div class="viewDiv2">
                .viewDiv2 
            </div>
        </div>
        <div class="scItem">
            <div class="viewHeader">
                .viewHeader 
            </div>
        </div>
        <div class="scItem">
            <div class="viewPhoto">
                .viewPhoto 
            </div>
        </div>
        <div class="scItem">
            <div class="viewPhotoCard">
                .viewPhotoCard 
            </div>
        </div>
    </div>
</div>


@code {
}

<style>
    .scItem {
        padding: 10px 10px 10px 10px;
        border: 1px solid brown;
        border-radius: 5px;
        margin: 10px 0;
    }
</style>