@page "/stylesButtons"

@layout ViewLayout

@attribute [Authorize]

<div class="row ">
    <div class="col">
        <HeadingC Text="Button Styles & Colors In Use" />
    </div>
</div>

<div class="row ">
    <div class="col">
        <h3 class="text-center">on appStyles.css</h3>

        <div class="scItem">
            <div class="btnAdd">
                .btnAdd 
            </div>
        </div>
        <div class="scItem">
            <div class="btnCancel">
                .btnCancel 
            </div>
        </div>
        <div class="scItem">
            <div class="btnChange">
                .btnChange 
            </div>
        </div>
        <div class="scItem">
            <div class="btnClose">
                .btnClose 
            </div>
        </div>
        <div class="scItem">
            <div class="btnDanger">
                .btnDanger 
            </div>
        </div>
        <div class="scItem">
            <div class="btnDelete">
                .btnDelete 
            </div>
        </div>
        <div class="scItem">
            <div class="btnDeleteOutline">
                .btnDeleteOutline 
            </div>
        </div>
    </div>

    <div class="col">
        <div class="scItem">
            <div class="btnEdit">
                .btnEdit 
            </div>
        </div>
        <div class="scItem">
            <div class="btnGroup">
                .btnGroup 
            </div>
        </div>
        <div class="scItem">
            <div class="btnLoad">
                .btnLoad 
            </div>
        </div>
        <div class="scItem">
            <div class="btnLogin">
                .btnLogin 
            </div>
        </div>
        <div class="scItem">
            <div class="btnOutline">
                .btnOutline 
            </div>
        </div>
        <div class="scItem">
            <div class="btnReturn">
                .btnReturn 
            </div>
        </div>
        <div class="scItem">
            <div class="btnReview">
                .btnReview 
            </div>
        </div>
    </div>

    <div class="col">
        <div class="scItem">
            <div class="btnSave">
                .btnSave 
            </div>
        </div>
        <div class="scItem">
            <div class="btnSelect">
                .btnSelect 
            </div>
        </div>
        <div class="scItem">
            <div class="btnSend">
                .btnSend 
            </div>
        </div>
        <div class="scItem">
            <div class="btnShow">
                .btnShow 
            </div>
        </div>
        <div class="scItem">
            <div class="btnSubmit">
                .btnSubmit 
            </div>
        </div>
        <div class="scItem">
            <div class="btnUpdate">
                .btnUpdate 
            </div>
        </div>
    </div>

    <div class="col">
        <div class="scItem">
            <div class="btnView">
                .btnView 
            </div>
        </div>
        <div class="scItem">
            <div class="btnWho">
                .btnWho 
            </div>
        </div>
    </div>

    <div class="col">
        <div class="scItem">
            <div class="">
            </div>
        </div>
    </div>
</div>


@code {

}

<style>
    .scItem {
        padding: 10px 10px 10px 10px;
        border: 1px solid brown;
        border-radius: 5px;
        margin: 10px 0;
    }
</style>
