@page "/testAccordion"

<h3>Test Accordion</h3>

<CollapsableC Title="Test 1" Collapsed="false">
    This is my content
</CollapsableC>
<CollapsableC Title="Test 2" Collapsed="true">
    This is my content 2
</CollapsableC>
<CollapsableC Title="Test 3" Collapsed="true">
    This is my content 3
</CollapsableC>

@code {
}