@page "/test"

<h3>Test</h3>

<div class="mt-3">
    <a href="testSnippetEdit" class="btnSubmit">Test Snippet Edit</a>
</div>

<div class="mt-3">
    <a href="testAccordion" class="btnSubmit">Test Accordion</a>
</div>

<div class="mt-3">
    <a href="testEditor" class="btnSubmit">Test Editor</a>
</div>

<div class="mt-3">
    <a href="testEmployeeEdit" class="btnSubmit">Test Employee Edit</a>
</div>

@code {
}
